{{define "public"}}

    {{template "base-head"}}

    <head>
        {{block "title" .}}
            <title>Weed Tracker</title>
        {{end}}
        <meta name="description" content="WEED BITCH">
    </head>

    {{block "css" .}}

    {{end}}

    <style>

    </style>

    <body class="bg-dark text-white text-center">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container-fluid">
            {{template "base-nav" .}}
            <div class="collapse navbar-collapse" id="navbar-dropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/" id="nav-usage">Usage</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reserves" id="nav-reserves">Reserves</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {{block "content" .}}

    {{end}}

    {{template "base-footer"}}

    {{block "js" .}}

    {{end}}

    {{template "base-script"}}

    </body>

{{end}}